@import "../../App.scss";

.input-section {
    width: 100%;
    height: 100px;
    padding-left: 10px;
    .cust-input-name {
        text-transform: capitalize;
        text-align: center;
        font-size: 16px;
    }
    .cust-input {
        margin: 0 auto;
        height: 50px;
        @include default-border;
    }
    &:first-child {
        padding-left: 10px;
    }
}