$green: #8d9f87;
$brown: #f0dcca;
$white: rgb(238, 238, 238);

@mixin default-border {
  border: 0.5vw solid $brown;
  border-radius: 5px;
}

#root {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  color: $white;
}
.container {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 80vh;
  overflow: scroll;
}
.App {
  margin: 0;
  padding: 0;
}
#large-logo-section {
  background-color: $green;
  @include default-border;
  width: 200px;
  .large-logo {
    color: $white;
    height: 200px;
    line-height: 200px;
    font-size: 150px;
    text-align: center;
  }
}
.main-image-section {
  @include default-border;
  margin: 0 auto;
  overflow: hidden;
  .main-image {
    height: 200px;
    width: 100%;
  }
}
.search-section {
  margin-top: 5vh;
  width: 100%;
  @include default-border;
  height: auto;
  background-color: $green;
  .difficulty-section {
    padding-left: 5px;
    margin: 0 auto;
    .cust-input-name {
      text-transform: capitalize;
      text-align: center;
      font-size: 16px;
    }
    .difficulty-selection {
      margin: 0 auto;
      height: 50px;
      @include default-border;
    }
  }
  .search-button {
    margin-top: 40px;
  }
}
.results {
  @include default-border;
  background-color: $green;
  width: 100%;
  height: auto;
}
